body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    text-align: center;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    height: 100px;
    width: 100%;
    background: rgb(8, 1, 34);
    opacity: .9;
    position: sticky;
    top: 0;

}
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 65px;
    font-family: 'pacifice';
    color: #fff;
    letter-spacing: 4px;
    font-weight: bold;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 1px;
    padding: 10px 10px;
    color: #fff;
}
nav a:hover{
    background: #fff;
    color: #130f40;
}
section{
    width: 100%;
    height: 100vh;
}
section.banner-area{
    background:url(back.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    width: 100%;
    height: 450px;
    position: sticky;
    top: 0;
}
 .banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #636081;
    opacity: .7;
    z-index: -1;
} 
.banner-area h2{
    font-size: 100px;
    color:rgb(8, 1, 34);
    left: 23%;
    top: 15%;
    position: absolute;
}
.text-area{
    width: 100%;
    height: 800px;
    position: relative;
    background: #fff;
    top: 10px;
}
.text-area h1{
    font-size:40px;
    margin: 0;
    padding: 0 0 20px;
    color: rgb(8, 1, 34);
}
.text-area p{
    font-size: 1.2em;
    margin: 0;
    line-height: 35px;
    padding:3%;
    color:rgb(8, 1, 34) ;
    font-weight: 500;
    font-size: x-large;
}
.footer{
    padding: 30px;
    background-color:rgb(8, 1, 34);
    width: 96%;
    height: 40px;
    opacity: .9;
}

.footer .social{
    text-align: left;
    padding-bottom: 20px;
    color: #fff;
    
}
.footer .social a{
    /* font-size:20px ;
    color: inherit;
    width: 10px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: o.75; */
    font-size:20px ;
    color: inherit;
    width: 10px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    margin: 0 8px;
    opacity: o.75;
    text-decoration: none;
    font-size: 20px;
    font-family: 'pacifice';
    color: #fff;
    letter-spacing: 4px;
    font-weight: bold;

}







